[submodule "Code/ThirdParty/harfbuzz"]
	path = Code/ThirdParty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "Code/ThirdParty/rlottie"]
	path = Code/ThirdParty/rlottie
	url = https://github.com/Samsung/rlottie.git
[submodule "Code/ThirdParty/freetype"]
	path = Code/ThirdParty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Code/ThirdParty/yoga"]
	path = Code/ThirdParty/yoga
	url = https://github.com/facebook/yoga.git
[submodule "Code/ThirdParty/uriparser"]
	path = Code/ThirdParty/uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "Code/ThirdParty/vorbis"]
	path = Code/ThirdParty/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "Code/ThirdParty/ogg"]
	path = Code/ThirdParty/ogg
	url = https://github.com/xiph/ogg.git
[submodule "Code/ThirdParty/Boost.Parser"]
	path = Code/ThirdParty/Boost.Parser
	url = https://github.com/boostorg/parser.git
[submodule "Code/ThirdParty/mimalloc"]
	path = Code/ThirdParty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "Code/ThirdParty/libwebsockets"]
	path = Code/ThirdParty/libwebsockets
	url = https://libwebsockets.org/repo/libwebsockets
[submodule "Code/ThirdParty/piper"]
	path = Code/ThirdParty/piper
	url = https://github.com/WatchDogStudios/piper.git
[submodule "Code/ThirdParty/SDL2"]
	path = Code/ThirdParty/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "Code/ThirdParty/opus"]
	path = Code/ThirdParty/opus
	url = https://github.com/xiph/opus.git